.alcalinos {
  background-color: $alcalinos;
}

.alcalinoterreos {
  background-color: $alcalinoterreos;
}

.metalesTransicion {
  background-color: $metalesTransicion;
}

.lantanidos {
  background-color: $lantanidos;
}

.actinidos {
  background-color: $actinidos;
}

.metales {
  background-color: $metales;
}

.metaloides {
  background-color: $metaloides;
}

.noMetales {
  background-color: $noMetales;
}

.halogenos {
  background-color: $halogenos;
}

.gasesNobles {
  background-color: $gasesNobles;
}
