body {
  font-family: $mainFont;
  background-image: url("../../../assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $primaryTextColor;
}
