$alcalinos: #bea1c5;
$alcalinoterreos: #d8a0c3;
$metalesTransicion: #e8ba56;
$lantanidos: #de9c5f;
$actinidos: #d79380;
$metales: #f4db3c;
$metaloides: #d6d966;
$noMetales: #8cb889;
$halogenos: #a2c8c9;
$gasesNobles: #9fc2e7;
$primaryTextColor: #104375;
$secondaryTextColor: #7eb2d5;
$legendTitleBackground: #d7d5d6;
$borderColor: #fffcfe;
