<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Roniell Pérez" />
    <link rel="shortcut icon" href="./assets/images/PageIcon.png" />
    <link rel="stylesheet" href="./styles/css/styles.css" />
    <title>Tabla Periódica</title>
  </head>
  <body>
    <main class="notFound">
      <img src="./assets/images/notFoundImg.png" alt="Page Not Found Icon" />
      <h4 class="notFound__title">Página no encontrada</h4>
      <a class="notFound__btn" href="/">Volver a la página principal</a>
    </main>
    <footer class="footer">
      <p>Creado <small>por</small> Roniell Pérez</p>
    </footer>
  </body>
</html>